{{#each placemarks}}
  <div class="box">
  
    <h2 class="title is-4">Placemark name: {{title}}</h2>
    <p><strong>Descriprion:</strong> {{description}}</p>
    <p><strong>Location:</strong> {{location}}</p>
    <p><strong>Latitude:</strong> {{latitude}}, <strong>Longitude:</strong> {{longitude}}</p>
    <p><strong>Category:</strong> {{category}}</p>

 <a
  class="button is-small is-primary"
  href="/category?category={{category}}&userId={{../../user._id}}"
>
  View {{category}}
</a>



    <a
      class="button is-small is-danger"
      href="/dashboard/deleteplacemark/{{_id}}"
    >
      Delete
    </a>

    <a class="button is-small is-info" href="/placemark/{{_id}}">
      View
    </a>
  </div>
{{/each}}
